* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}
:root {
  --color-main: rgb(43, 43, 48);
  --color-primary: rgba(235, 233, 223, 0.288);
  --color-secondary: rgba(0, 140, 254, 0.409);
  --color-accent: rgba(229, 31, 0, 0.632);
}
body {
  height: 100vh;
  background-color: var(--color-main);
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  position: relative;
  box-shadow: -3px -3px 7px rgba(159, 159, 159, 0.13),
    3px 3px 7px rgba(0, 0, 0, 0.838);
}

.clock::after {
  content: "";
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(64, 64, 69, 0.304);
  border-radius: 50%;
  z-index: 11;
  box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.838),
    -3px -3px 7px rgba(159, 159, 159, 0.13);
}

.clock::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 240px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--color-main);
  border-radius: 50%;
  z-index: 12;
  box-shadow: -3px -3px 7px rgba(159, 159, 159, 0.13),
    3px 3px 7px rgba(0, 0, 0, 0.838);
}

.date {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  font-family: "Work Sans", sans-serif;
  font-size: 6rem;
  text-align: center;
  line-height: 4rem;
  color: var(--color-primary);
  z-index: 13;
  text-shadow: 0 0 12px var(--color-primary);
}

.date :nth-child(1) {
  font-size: 2rem;
}

.number {
  --rotation: 0;
  position: absolute;
  width: 500px;
  height: 500px;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 4rem;
  font-weight: 500;
  padding: 0.8rem;
  font-family: "Work Sans", sans-serif;
  color: var(--color-primary);
  text-shadow: 0 0 12px var(--color-primary);
}

.number-1 {
  --rotation: 30deg;
}

.n1 {
  transform: rotate(-30deg);
}

.number-2 {
  --rotation: 60deg;
}

.n2 {
  transform: rotate(-60deg);
}

.number-3 {
  --rotation: 90deg;
}

.n3 {
  transform: rotate(-90deg);
}

.number-4 {
  --rotation: 120deg;
}

.n4 {
  transform: rotate(-120deg);
}

.number-5 {
  --rotation: 150deg;
}

.n5 {
  transform: rotate(-150deg);
}

.number-6 {
  --rotation: 180deg;
}

.n6 {
  transform: rotate(-180deg);
}

.number-7 {
  --rotation: 210deg;
}

.n7 {
  transform: rotate(-210deg);
}

.number-8 {
  --rotation: 240deg;
}

.n8 {
  transform: rotate(-240deg);
}

.number-9 {
  --rotation: 270deg;
}

.n9 {
  transform: rotate(-270deg);
}

.number-10 {
  --rotation: 300deg;
}

.n10 {
  transform: rotate(-300deg);
}

.number-11 {
  --rotation: 330deg;
}

.n11 {
  transform: rotate(-330deg);
}

.hand {
  --rotation: 0;

  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
  transform-origin: bottom;
}

.seconds {
  width: 3px;
  height: 30%;
}

.minutes {
  width: 12px;
  height: 30%;
}

.hours {
  width: 20px;
  height: 30%;
}

.mark {
  width: 100%;
  height: 30px;
  top: 50%;
  left: 50%;
  background-color: var(--color-primary);
}

.seconds .mark {
  background-color: var(--color-accent);
}
